{% load utils_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% media 'css/style.css' 'absolute' %}"/>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>